@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* input {
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

body {
  position: relative;
  height: 95vh;
  color: black;
  font-size: 16px;
  font-family: 'Architects Daughter', cursive;
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

h1,
h2 {
  text-align: center;
}

.book-list {
  width: 100%;
  border: 2px solid rgb(39, 37, 37);
  border-radius: 3px;
  margin-top: 15px;
  list-style: none;
}

.book-list li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  list-style: none;
}

.book-list li:nth-child(even) {
  background-color: rgb(244, 244, 253);
}

.line {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 10%;
  background-color: black;
  box-shadow: 5px 5px 5px;
}

button {
  margin-left: 100px;
}

button,
.btn {
  border: 2px solid black;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 2px;
  font-size: 16px;
  padding: 5px 12px;
}

form input,
form button {
  display: block;
  margin: 8px;
  height: 35px;
  padding: 5px 15px;
  border: 2px solid black;
}

.btn {
  float: right;
}
